.letras {
    height: 91px;
    width: 678px;
    margin: 0, auto;
}

.letras button{
    color: #39739D;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    margin-bottom: 11px;
}